---
import frontendskills from "@/skill-list/frontendskills.json";
import backendskills from "@/skill-list/backendskills.json";
import uxuidesignskills from "@/skill-list/uxuidesign.json";
import Skill from "@/components/Skill.astro";
---
<style>
   @media screen and (min-width: 1000px){
    .skill-hard-container{
      padding: 1rem;
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.5rem 3rem;
        h4{
          font-size: 1.4rem;
          &:hover{
             filter: drop-shadow(2px 2px 2px rgba(230, 240, 250, 0.5));
        
          }
        
        }
        
    }
   }

      @media screen and (max-width: 1000px){
    .skill-hard-container{
      .right{
        margin-top: 3rem;
      }
        
    }
   }
    
</style>

<div class="skill-hard-container">
  <div class="left">
    <h4>FRONT-END DEVELOPMENT</h4>
      {
                  frontendskills.map((skill) => (
                    <div class="skill">
                      {/* Usiamo i dati della singola 'skill' */}
                      <Skill
                        icon={skill.icon}
                        name={skill.name}
                        points={skill.points}
                      />
                    </div>
                  ))
                }
  </div>
  <div class="right">
    <h4>BACK-END DEVELOPMENT</h4>
    {
                  backendskills.map((skill) => (
                    <div class="skill">
                      {/* Usiamo i dati della singola 'skill' */}
                      <Skill
                        icon={skill.icon}
                        name={skill.name}
                        points={skill.points}
                      />
                    </div>
                  ))
                }
                <br>
                <br>
                <h4>OTHERS</h4>
                 {
                  uxuidesignskills.map((skill) => (
                    <div class="skill">
                      {/* Usiamo i dati della singola 'skill' */}
                      <Skill
                        icon={skill.icon}
                        name={skill.name}
                        points={skill.points}
                      />
                    </div>
                  ))
                }

  </div>

          
        </div>