---
import BaseLayouts from "@/layouts/BaseLayouts.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { Image } from "astro:assets";


// import { projects } from "@/data/projects.js";

// export function getStaticPaths() {
//   return projects.map((project) => ({
//     params: { slug: project.slug },
//     props: {
//       title: project.title,
//       description: project.description,
//     },
//   }));
// }

// const { slug } = Astro.params;
// const { title, description } = Astro.props;

import { getCollection } from "astro:content";


export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;

console.log(project);
console.log(project.data.screen

)
---

<style>
  .cover{
    height: auto;
    width: 100vw;
    position: sticky;
    top:100px;
    right: 0;
    z-index: -1;
  }
  .work{
    background-color: black;
    width: 1220px;
    margin: auto;
  }
</style>




<BaseLayouts title={project.data.title} description={project.data.description}>
  <Header />

  <main>
    <Image class="cover" src={project.data.screen} alt="cover-project"/>
    <div class="work">
      <!-- <h1>{project.data.title}</h1>
      <p>{project.data.description}</p> -->

      <h1>TItle</h1>
      <p>{project.data.title}</p>
      <p>Tamal nails the developer aesthetic with a sleek dark theme that mimics an IDE, adding code snippets in the background. And, he smartly uses screenshots to showcase his previous projects, which gives his portfolio an eye-catching, dynamic feel — a perfect way to show and tell what a software developer portfolio should be like!</p>
      



    </div>
    
  </main>
  
  
  <Footer />
</BaseLayouts>
